<html>
<head>
<title>Books and Poems</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="search.css">
 <link rel="stylesheet" type="text/css" href="book.css">

 
    
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="home.css">


</head>
<body>

<div class="area" >
<nav class="navbar navbar-expand-lg bg-light" >

  <div class="container-fluid" style= "background-color: rgba(254,251,234, .7)">
   
	<img class= "logos" style="border-radius: 75%;" height="125px" width="auto" src="images/S.png">
    

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
	
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	<div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Back to Heavenly Made Homepage <i class="fa fa-home" aria-hidden="true"></i></a>
		<a class="nav-link" href="/ministering">Ministering Through Cliches Series <i class="fa fa-cutlery" aria-hidden="true"></i></a>
        <a class="nav-link" href="/poemsofdelight">Poems of Delight Series<i class="fa fa-book" aria-hidden="true"></i></a>
        <a class="nav-link" href="/lookagain">Look Again <i class="fa fa-heart" aria-hidden="true"></i></a>
        <a class="nav-link" href="/about">About The Author <i class="fa fa-heart" aria-hidden="true"></i></a>
      </div>
      
    </div>
    
  </div>
</nav>

 <div class="announcement">
	<br>
    <h4 class="blink_me">Minstering Through Cliches Volume 1, now on Sale!&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="https://a.co/d/7CRvfpp">Find it on Amazon</a></h4>
     
  </div>


<br>
<br>
<br>

  <div class="intro">
  <h1 class="intro__title">Sybil Young's Inspiring Books & Poetry</h1>
  <p class="intro__body font-effect-shadow-multiple font-effect-3d-float">The author Sybil was inspired to write these books and poems through connecting with her faith and mission to share inspiring words to those in need. View the selections below
  to find the perfect match to minister to your personal needs.</p>
</div>

<form id="content" class="s-bar">
	
  <input type="text" name="title" id="search-input">
  <button type="reset" class="search" id="search-btn"></button>

</form>

<div class="carousel">

	<input type="checkbox" class="faux-ui-facia"> 
  <div class="slide" slide="8" annot="Poems of Delight, To Meet Your Comfort">
    <img src="images/PodComfort.jpg" width= 600px alt="Poems of Delight, To Meet Your Comfort">
  </div>

	<input type="checkbox" class="faux-ui-facia"> 
  <div class="slide" slide="7" annot="Poems of Delight, Ministering To Your Soul Back Cover">
    <img src="images/Pod-back.jpg" width= 600px alt="Poems of Delight, Ministering To Your Soul Back Cover">
  </div>

	<input type="checkbox" class="faux-ui-facia"> 
  <div class="slide" slide="6" annot="Poems of Delight, Ministering To Your Soul">
    <img src="images/Pod.jpg" width= 600px alt="Poems of Delight, Ministering To Your Soul">
  </div>

  <input type="checkbox" class="faux-ui-facia"> 
  <div class="slide" slide="5" annot="The back cover of Ministering Through Cliches Volume 2">
    <img src="images/mtcv2-back.jpg" alt="The back cover of Ministering Through Cliches Volume 2">
  </div>
  
  
  <input type="checkbox" class="faux-ui-facia"> 
  <div class="slide" slide="4" annot="Ministering Through Cliches Volume 2.">
    <img src="images/mtcv2.jpg" width= 600px alt="Ministering Through Cliches Volume 2">
  </div>

  <input type="checkbox" class="faux-ui-facia"> 
  <div class="slide" slide="3" annot="The back cover of Ministering Through Cliches Volume 1">
    <img src="images/mtcv1-back.jpg"  alt="The back cover of Ministering Through Cliches Volume 1">
  </div>

  <input type="checkbox" class="faux-ui-facia">
  <div class="slide" slide="2" annot="Ministering Through Cliches Volume 1">
    <img src="images/mt1.jpg" width= 600px  alt="Ministering Through Cliches Volume 1">
  </div>

  <input type="checkbox" class="faux-ui-facia">

  <div class="slide" slide="1" annot="Look Again By Sybil Young">
    <img src="images/LookAgain.jpg" alt="Look Again By Sybil Young">
  </div>
   
  <div class="counter" count="8"> / 8</div>
 
</div>

            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
			
			<br><br>
		
    </div >
<script>
const input = document.getElementById("search-input");
const searchBtn = document.getElementById("search-btn");
input.placeholder = "";
const expand = () => {
  searchBtn.classList.toggle("close");
  input.classList.toggle("square");
  if(input.placeholder != ""){
	input.placeholder= "";
  }
  else{
  input.placeholder = "Search by Book Title";
  }
};

searchBtn.addEventListener("click", expand);
</script>
</body>
</html>